@page
@model Bookstore.Pages.PurchaseConfirmationModel
@{
}

<!-- confirmation page to users who make a purchase -->
<div class="text-center">
    <br /><br /><br />

    <h2>Thank you!</h2>

    <br /><br />

    <h5>Your order has been processed and will be shipped to you shortly.</h5>

    <br /><br /><br />

    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>