@{
    Layout = null;
}

@model LoginModel

<html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Bookstore Login</title>
        <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    </head>

<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand m-lg-2">Bookstore</span>
    </div>

    <div class="m-1 p-1">

        <!-- extra bootstrap #1 -->
        <div class="alert alert-primary" role="alert">
            <span style="padding-left: 16px">
                You must log in to view this page
            </span>

            <!-- extra bootstrap #2 -->
            <div class="spinner-grow text-primary" style="float: left; width: 1.5rem; height: 1.5rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div class="text-danger" asp-validation-summary="All"></div>

        <form method="post" asp-controller="Account" asp-action="Login">

            <div class="form-group">
                <label asp-for="Username">User Name:</label>
                <input asp-for="Username" class="form-control" />
            </div>

            <br />
            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-control" type="password" />
            </div>

            <br />
            <button class="btn btn-primary" type="submit">Log In</button>

            <input type="hidden" asp-for="ReturnUrl" />

        </form>

    </div>
</body>
</html>
